<!-- Menus::START -->
<div class="default-drawer proxy-sidenav">
    <mat-nav-list>
        <a
            mat-list-item
            [routerLink]="['logs']"
            class="active-list-item"
            [matTooltipPosition]="'right'"
            [matTooltip]="isSideNavOpen ? 'Logs' : ''"
        >
                <mat-icon matListIcon class="mat-icon-20 material-icons-outlined p-0" aria-hidden="false"
                >description</mat-icon
                >
                <span matLine class="menu-list-span menu-label mt-3 ml-4">Logs</span>
        </a>
    </mat-nav-list>
</div>
<!-- Menus::END -->