   <!-- Login with OTP Section --START-- -->
<div class="content">
  <div class="align-items-center first">
    <div class="align-items-center">
      <p class="ml-5 login-content">Welcome Back!</p>
      <p class="login-content1">Start Managing your finance better and faster</p>
    </div>

    <div class="mt-4">
      <form [formGroup]="loginform">

        <ng-container *ngIf="mobilefield">
          <mat-form-field appearance="outline" class="w-100" style="position: relative; z-index: 2;">
            <!-- <div id="mobile-input-wrapper"  -->
              <input
                #mobileInput
                matInput
                formControlName="mobileNumber"
                placeholder="mobile number"
                type="tel"
                (keydown.enter)="!intlPhone?.isRequiredValidNumber ? null : sendOtp()"
                (keypress)="intlPhone?.onlyPhoneNumber($event)"
                (input)="loginform.get('mobileNumber')?.setValue(intlPhone.phoneNumber);
                !intlPhone?.isValidNumber ? loginform.get('mobileNumber')?.setErrors({ 'invalidNumber': true }) : null
                "
                (blur)="loginform.get('mobileNumber')?.markAsTouched()"
                [ngClass]="{
                  'invalid-input': loginform.get('mobileNumber')?.touched && !intlPhone?.isRequiredValidNumber
                 }"
                id="mobile-input-wrapper"
              />
            <!-- </div> -->
            <div style="position: absolute; bottom: -23px;">
              <mat-error *ngIf="loginform.get('mobileNumber')?.touched && intlPhone && !intlPhone?.isRequiredValidNumber">Please enter a valid Mobile Number</mat-error>
            </div>
          </mat-form-field>

          <button mat-flat-button color="primary" (click)="sendOtp()"
                class="w-100"
                [disabled]="
                !intlPhone?.isRequiredValidNumber ||
                loginform.get('mobileNumber')?.invalid ||
                !loginform.get('mobileNumber')?.value
              ">  
          Send</button>

        </ng-container>


        <div *ngIf="isOtpSent">
          <button mat-button (click)="backtoMobile()"><mat-icon>keyboard_backspace</mat-icon>Back</button>

          <div class="mt-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>OTP</mat-label>
              <input matInput formControlName="otp" placeholder="Enter OTP">
            </mat-form-field>
          </div>

          <div class="justify-content-center">
            <button mat-flat-button color="primary" (click)="verifyOtp()" class="w-100"
                    [disabled]="loginform.get('otp')?.invalid"
            >Verify</button>
          </div>

        </div>
      </form>
    </div>
      <p  *ngIf="!isOtpSent" class="ml-4 mt-4 account">
               Doesn't have an account? <a (click)="register()"
               class="cursor-pointer text-underline link">Register Here</a></p>
  </div>
   <!-- Login with OTP Section --END-- -->
 
  <!-- Side Card Details -- START -- -->
  <div>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Tally Plugin By MSG91</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="card-content">Send Invoices on Whatsapp and Email <br> Via Tally</p>
        <mat-divider></mat-divider>
        <p class="highlight">Automate your financial processes effortlessly with Tally. </p>
        <p>Streamline invoicing, effortlessly share ledgers, and efficiently recover</p>
        <p> outstanding amounts, all within the Tally platform.</p>
      </mat-card-content>
    </mat-card>
  </div>
   <!-- Side Card Details -- END -- -->

</div>