.content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.login-left {
    flex: 1; /* Takes 50% width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 25%;
}

.login-left p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

.card {
    height: 700px;
    width: 600px; /* Set card width */
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.first{
     margin-left: 300px;
}

.login-content {
     font-weight: bold;
     font-size: xx-large;

}

.login-content1{
     font-size: large;
     font-weight:500;
}

.account{
     font-size: medium;
     font-weight: 600;
}
.link{
    color: #1b69a7;
}
.mat-mdc-card-title{
     font-weight: 400;
     font-size: 35px;
}

.highlight{
    font-size: 30px;
    font-weight: 500;
}

.card-content{
     font-weight: bold;
     font-size: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .login-left, .card {
        width: 90%;
        text-align: center;
    }
}
  