.content {
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.login-left p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

.card {
    height: 700px;
    width: 600px; /* Set card width */
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.first{
     margin-left: 300px;
}
.link{
    color: #1b69a7;
}
.mat-mdc-card-title{
     font-weight: 400;
     font-size: 35px;
}
.intl-phone {
    z-index: 2;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .login-left, .card {
        width: 90%;
        text-align: center;
    }
}
  