<div class="mat-right-dialog-container">
    <h2 mat-dialog-title class="dialog-title">
      Add Funds
      <button mat-icon-button class="cursor-pointer close">
        <mat-icon  (click)="closeDialog()">close</mat-icon>
      </button>
    </h2>

    <mat-divider></mat-divider>
  
    <div mat-dialog-content [formGroup]="walletForm" class="dialog-content">
      <mat-form-field appearance="outline" class="w-100 amount-field">
        <mat-label>Enter the amount</mat-label>
        <input matInput placeholder="Enter the amount" formControlName="amount">
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions class="dialog-actions">
      <button mat-raised-button color="primary" (click)="add()">Proceed to pay</button>
    </div>
  
  </div>
  