.mat-right-dialog-container {
    padding: 20px;
  }
  
  .dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dialog-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .amount-field {
    width: 70%; 
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .close{
     border: none;
     background-color: #fff;
     min-width: 0;
     border-radius: 50%;
  }

  .close:hover {
      background-color: #5f63ac;
      opacity: 1;
  }