<div class="h-100 w-100 ">
        <div class="font-32 fw-bolder text-center mt-6">
                Contact Us
        </div>

        <div class="d-flex flex-row justify-content-around mt-5 container">        
            <div class="lh-3">
                <h3 class="text-center font-32">Sales</h3>
                <p class="font-24"><mat-icon>mail</mat-icon>sales&#64;msg91.com</p>
                <p class="font-24"><mat-icon>call</mat-icon>+91 70490 88848</p>
                <p class="font-24"><mat-icon>call</mat-icon>+91 88893 78605</p>
                <button class="button ml-3">Schedule a Meeting</button>
            </div>

            <div class="lh-3">
                <h3 class="text-center font-32">Support</h3>
                <p class="font-24"><mat-icon>mail</mat-icon>support&#64;msg91.com</p>
                <p class="font-24"><mat-icon>call</mat-icon>+91 70490 88848</p>
                <p class="font-24"><mat-icon>call</mat-icon>+91 88893 78605</p>
                <button  class="button ml-3">Schedule a Meeting</button>
            </div>
        </div>
</div>