<mat-toolbar class="d-flex flex-row justify-content-between position-sticky mat-elevation-z4">
    <img src="https://msg91.com/assets/brand/msg91.svg" alt="Logo" class="img">

    <!-- Navigation links -->
    <div class="d-flex flex-row gap-6">   
        <div class="fw-bold cursor-pointer d-flex text-hover-primary"  (click)="pricing()"><mat-icon>currency_rupee</mat-icon><span class="ml-1">Pricing</span></div>
        <div class="fw-bold cursor-pointer d-flex text-hover-primary" (click)="contact()"><mat-icon>call</mat-icon><span class="ml-1">Contact</span></div>
        <div class="fw-bold cursor-pointer d-flex text-hover-primary" (click)="redirectTologin()"><mat-icon>login</mat-icon><span class="ml-1">Login</span></div>
    </div>
</mat-toolbar>

<div class="h-100 w-100 ">
        <div class="font-32 fw-bolder text-center mt-6">
                Contact Us
        </div>

        <div class="d-flex flex-row justify-content-around mt-5 container">        
            <div class="lh-3">
                <h3 class="text-center font-32">Sales</h3>
                <p class="font-24 d-flex align-items-center gap-2"><mat-icon>mail</mat-icon>sales&#64;msg91.com</p>
                <p class="font-24 d-flex align-items-center gap-2"><mat-icon>call</mat-icon>+91 70490 88848</p>
                <p class="font-24 d-flex align-items-center gap-2"><mat-icon>call</mat-icon>+91 88893 78605</p>
                <button class="button margin-left">Schedule a Meeting</button>
            </div>

            <div class="lh-3">
                <h3 class="text-center font-32">Support</h3>
                <p class="font-24 d-flex align-items-center gap-2"><mat-icon>mail</mat-icon>support&#64;msg91.com</p>
                <p class="font-24 d-flex align-items-center gap-2"><mat-icon>call</mat-icon>+91 70490 88848</p>
                <p class="font-24 d-flex align-items-center gap-2"><mat-icon>call</mat-icon>+91 88893 78605</p>
                <button  class="button margin-right">Schedule a Meeting</button>
            </div>
        </div>
</div>