<!-- User Section detail -- START  -->
<ng-container>

    <!-- User Info Form -->
  <form [formGroup]="userForm">
    <div class="d-flex flex-column mt-3">
        <!-- Name Field -->
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>name</mat-label>
        <input matInput placeholder="Enter name" formControlName="name">
      </mat-form-field>

       <!-- Email Field -->
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>email</mat-label>
        <input matInput placeholder="Enter email" formControlName="email">
      </mat-form-field>

      <!-- Mobile Field -->
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>mobile</mat-label>
        <input matInput placeholder="mobile number" formControlName="mobile">
      </mat-form-field>
    </div>
  </form>
</ng-container>

