<!-- User Section detail -- START  -->
<ng-container>

    <!-- User Info Form -->
  <form [formGroup]="userForm">
    <div class="d-flex flex-column mt-3">
        <!-- Name Field -->
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>name</mat-label>
        <input matInput placeholder="Enter name" formControlName="name">
      </mat-form-field>

       <!-- Email Field -->
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>email</mat-label>
        <input matInput placeholder="Enter email" formControlName="email">
      </mat-form-field>

      <!-- Mobile Field -->
      <mat-form-field appearance="outline" class="w-25">
        <mat-label>mobile</mat-label>
        <input matInput placeholder="mobile number" formControlName="mobile">
      </mat-form-field>
    </div>
  </form>
</ng-container>

<!-- Expandable Panel for Msg91 Custom Auth Setup -->
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-description>
           <p class="align-items-center">Use Custom Msg91 Account</p>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-card appearance="outlined" class="responsive-card">
       <mat-card-content>
         <!-- Auth Key Verification Form -->
        <form [formGroup]="auth">
          <div class="d-flex flex-row gap-4 align-items-baseline">
            <mat-form-field appearance="outline" class="w-25">
              <mat-label>Auth Key</mat-label>
              <input matInput placeholder="Enter Your Auth Key" formControlName="authkey">
            </mat-form-field>
             <!-- Verify Button with loader -->
            <button mat-flat-button color="primary" [msg91ButtonLoader]="(getCampaign$ | async)">Verify</button>
          </div>
        </form>

           <!-- Voucher Type Autocomplete Input -->
        <form class="example-form">
          <mat-form-field class="w-25" appearance="outline">
            <mat-label>Voucher Type</mat-label>
            <input type="text" placeholder="Pick one" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

          <!-- Campaign Selection Autocomplete Component -->
        <app-campaign-autocomplete [campaignForm]="campaignForm"
          (fetchCampaignInProgressEmit)="fetchCampaignInProcess$ = $event" [authkey]="authkey"
          (campaignSelected)="onCampaignSelected($event)">
        </app-campaign-autocomplete>

         <!-- Campaign Variable Mapping Section -->
        <ng-container *ngIf="campaignFields as fields">
          <div *ngIf="fields.length > 0; else noVariables" class=mt-4>
            <!-- Headers for variable mapping -->
            <div class="d-flex flex-row gap-8">
              <div class="mb-2 font-12 fw-bolder variable">Campaign Variable</div>
              <div class="mb-2 font-12 fw-bolder">Tally Variables</div>
            </div>

             <!-- Loop through campaign fields and allow user to map tally variables -->
            <div class="d-flex flex-column gap-4">
              <div class="d-flex justify-content-between gap-7" *ngFor="let variable of campaignFields">

                    <!-- Campaign Variable Name -->
                  <div class="ml-4 fw-bold variable">
                    {{ variable }}
                  </div>

                   <!-- Tally Variable Selection -->
                <div class="tally-variable flex-grow-1">
                  
                  <mat-form-field appearance="outline" class="w-25">
                    <mat-label>Tally Variable</mat-label>
                    <input type="text" placeholder="Pick one" matInput [formControl]="tallyControl" [matAutocomplete]="tally">
                        <mat-autocomplete  #tally="matAutocomplete">
                              <mat-option *ngFor="let tally of tallyVariables" [value]="tally">
                                {{tally}}
                              </mat-option>
                        </mat-autocomplete>   
                  </mat-form-field>
  
                </div>
              </div>
            </div>
          </div>
        </ng-container>

         <!--Message if the Variables are not found for the particular campaign list -->
        <ng-template #noVariables>
          <p *ngIf="campaignSelectedOnce" class="text-muted font-14 mt-3 ml-5">No variables found for this campaign.</p>
        </ng-template>
               
      </mat-card-content>
    </mat-card>


  </mat-expansion-panel>

</mat-accordion>