<div class="w-100 h-100 ml-5 mt-5">
     <div class="font-24 fw-bolder">
            WhatsApp Pricing
     </div>
     <div >
        <mat-card class="w-75 h-50 p-3">
            <mat-card-content class="d-flex flex-row justify-content-between">
                    <span>
                          <p class="font-24 fw-bolder lh-1"><span class="font-40 fw-bolder text-green">0.5</span> paisa per message</p>
                          <p class="font-20 fw-thin lh-1">GST excluded.</p>
                  
                         <button mat-button class="button">
                                Get Started
                        </button>
                    </span>           
                    <img src="whatsapp-black.svg" alt="whatsapp-black" class="whatsapp-logo">  
            </mat-card-content>
       </mat-card>
     </div>

</div>