// background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
// }

.button {
    background-color: #000000;
    color: #ffffff !important;
    padding: .5rem 1rem;
}

.whatsapp-logo {
    width: 140px;
}
.text-green {
    color: rgb(22 163 74);
}