.app-content {
    background-color: #ffffff;
}

.reg-form {
    min-width: 600px;
    background-color: #ffffff;
    box-shadow: #ffff;
    height: 640px;
    width: 300px;
    margin-top: 30px;
}

.input-wrapper{
    width: 496px;
}

@media (max-width: 768px) { 
    .reg-form {
        min-width: 80%;
    }

    .reg-form .input-wrapper {
        flex-direction: column;
    }
}


  