
    <div class="d-flex justify-content-center align-items-center">
        <mat-card class="outline-card reg-form">
            <h2 class="d-flex align-items-center justify-content-center">Register</h2>
            <div class="app-content d-flex justify-content-center align-items-center">
                <form [formGroup]="registrationForm">
                    <div formGroupName="user">
                    <div class="d-flex gap-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="fname" placeholder="Enter First Name" />
                            <mat-error *ngIf="registrationForm.get('user.fname')?.hasError('pattern')">
                                Only alphabets are allowed
                            </mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lname" placeholder="Enter Last Name" />
                            <mat-error *ngIf="registrationForm.get('user.lname')?.hasError('pattern')">
                                Only alphabets are allowed
                            </mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Enter Email" />
                            <mat-error *ngIf="registrationForm.get('user.email')?.hasError('pattern')">
                                Invalid email format
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div class="input-wrapper d-flex gap-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Mobile</mat-label>
                            <input matInput type="tel" formControlName="mobile" placeholder="Enter Mobile" />
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="sendotp()">Send</button>
                    </div>
    
                    <div *ngIf="otpSent">
                        <mat-form-field appearance="outline" class="input-wrapper w-100">
                            <mat-label>Enter OTP</mat-label>
                            <input matInput formControlName="otp" placeholder="Enter OTP" />
                        </mat-form-field>
                        <button mat-button (click)="verifyOtp()">Verify OTP</button>
                        <p *ngIf="otpVerified$ | async">OTP Verified!</p>
                        <p *ngIf="otpNotVerified$ | async">OTP Verification Failed</p>
                    </div>
    
                    <button mat-raised-button type="submit" [disabled]="!(otpVerified$ | async)" (click)="submit()">Submit</button>
                </div>  
                </form>
            </div>
        </mat-card>
    </div>
    